// Background
$bg-content: #f3f3f5;
$bg: #fff;

// Layout
$borderColor: rgba(56, 57, 62, 0.3);

// Header
$colorTitle: #38393e;
$bgAvatar: #26c6da;

// Sidebar
$bg-sidebar: #fff;

// Colors
$color: #fff;
$colorText1: #5d5f5e;

$primaryColor: #9b3c12;
$secondaryColor: #b2471a;
$thirdColor: #c7511f;
$fourthColor: #e1622b;
$fithColor: #e16c39;

// Button Action
$backgroundHover: rgba(0, 0, 0, 0.1);

// Bg Opacity
$bgOpacityBlack: rgba(0, 0, 0, 0.6);
